body {
    background-color: black;
    font-family: Arial;
    color: lightgray;
    text-align: center;

}

h1 {
    color: darkblue;

}
h2 {
    color: lightgray;

}

a {
text-decoration: none;
color: blue;
}
a:hover {
    color: red;
}

#mensaje{
    font-weight: bold;
    margin-top: 10px;
}
.Error{
    color: red;
}
.Correcto{
    color: green;
}

#Miformulario{
    width: 100%;
    background-color: black;
    margin: auto;
    padding: 20px;
    border-radius: 10px;

}

.g-recaptcha{
margin-top:20px;
}